<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>

<!-- ここから編集ずみページ -->
<div class="article_wrapper">
  <!-- 左カラム -->
    <div class="catch_copy_wrapper test">
    	<span class="catch_copy">新しい旅の記録を投稿します。</span>
    </div>
  <!-- 右カラム -->
  <div class="article_form_wrapper test2">
  	<h2>New Article</h2>
    <%= form_for(@article) do |f| %>
      <div class="form-group">
      	<%= f.label :caption %><br>
        <%= f.text_field :caption, class: "f_long" %>
      </div>
      <div class="form-group">
      	<%= f.attachment_field :article_image %>
      </div>
      <div class="form-group">
      	<%= f.label :body %><br>
        <%= f.text_area :body, class: "f_long", :maxlength => "200", rows: 5 %>
      </div>
      <div class="form-group">
        <%= f.submit "投稿", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>

</div>