<div class="user_destroy_confirm_wrapper text-center">
	<h2>退会すると、今までに投稿した記事は全て削除されます。</h2>
	<div class="destroy_confirm_induction">
		<%= link_to "投稿した記事を編集したい場合はこちら", timelines_path %><br>
		<%= link_to "投稿した記事を削除したい場合はこちら", timelines_path %><br>
		<%= link_to "ユーザー情報を変えたい場合はこちら", edit_user_path %><br>
	</div>
	<h2>本当に退会しますか？</h2>
	<div>
		<%= link_to "はい", user_path, method: :delete, class: "btn btn-info btn-lg mg50" %>
		<%= link_to "いいえ", user_path(@user.id), class: "btn btn-info btn-lg" %>
	</div>

</div>