<div class="user_show_wrapper">
	<!-- 左カラム -->
	<div class="user_left_column">
		<div class="user_left_column_content">
			<hr>
			<%= link_to "プロフィール", user_path %>
        	<hr>
            <%= link_to "過去の投稿記事を見る", timelines_user_path(params[:id]) %>
			<% if @user.id == current_user.id %>
                <% if timeline_flag.nil? %>
	            <% elsif timeline_flag.post_flag == 0 %>
					<hr>
			            <%= link_to "編集中の記事を見る", new_timeline_path(timeline_flag.id) %>
		            <hr>
                <% end %>
				<!-- % if  %> --><!-- TODO:最後に投稿したTimelineの投稿フラグオン→new_timeline, オフ→new_article -->
                  <% if timeline_flag.nil? || timeline_flag.post_flag == 1 %>
                    <%= link_to "新しい旅日記を投稿する", timelines_path, method: :post %>
                  <% else %>
                    <%= link_to "新規投稿", new_article_path %>
                  <% end %>
				<hr>
				<!-- % end %> -->
				<%= link_to "お気に入り一覧", clips_path %>
				<hr>
				<%= link_to "ユーザー情報を編集する", edit_user_path %>
				<hr>
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<%= link_to "退会する", destroy_confirm_path %>
			<% end %>
		</div>
	</div>
	<!-- 右カラム -->
	<div class="user_right_column">
		<div class="user_header">
			<%= attachment_image_tag @user, :header_image, :fill, 1000, 250, format: 'jpeg', fallback: "no_image.jpg", class: "user_header_image" %>
			<% if @user.id == current_user.id %>
				<%= link_to edit_user_path(current_user.id) do %>
					<div class="image-radius header-image-btn"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></div>
				<% end %>
			<% end %>
		</div>
		<div class="profile-image_wrapper">
			<%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", class: "profile-image" %>
			<% if @user.id == current_user.id %>
				<%= link_to edit_user_path(current_user.id) do %>
					<div class="image-radius profile-image-btn"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></div>
				<% end %>
			<% end %>
		</div>
		<div class="user_show_content">
			<hr>
			<h2>
				<% if @user.nickname.nil? %>
					<%= @user.last_name %><%= @user.first_name %>
				<% else %>
					<%= @user.nickname %>
				<% end %>
				</h2>
			<hr>
			<h3>プロフィール</h3>
				<p><%= @user.profile %></p>
			<hr>
			<h3 class="inline">最近の旅</h3>
			<% if timeline_flag.nil? || timeline_flag.post_flag == 0 %>
			<span>まだ旅行記を投稿していません。</span>
			<% else %>
				<span class="user_show_tineline_last"><%= link_to @user.timelines.last.title, timeline_path(@user.timelines.last.id) %><span>
				<hr>
					<div>
						<% @user.timelines.last(10).each do |timeline| %>
							<%= link_to timeline_path(timeline.id) do %>
								<%= attachment_image_tag timeline.articles.first, :article_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", class: "timeline-image" %>
							<% end %>
						<% end %>
						<p><%= link_to "もっと見る", timelines_user_path(params[:id]) %></p>
					<% end %>
				</div>
			<hr>
		</div>
	</div>
</div>