<div class="sign_wrapper">
  <div class="sign_in">
    <h2>パスワード再発行用フォーム</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

     <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "パスワードを再発行する", class: "btn btn-info" %>
      </div>
    <% end %>
    <p>ボタンを押すとメールが届きます。<br>
    メールに記載しているリンクから、パスワードの再発行が出来ます。</p>

   <%= link_to "ログインはこちら", new_user_session_path %><br>
   <%= link_to "新規登録はこちら", new_user_registration_path %>

  </div>
</div>