
			<% timelines.each do |timeline| %>
				<% if timeline.post_flag != 0 %>
					<%= link_to timeline_path(timeline.id) do %>
						<div class="timeline-thumbnail">
							<%= attachment_image_tag timeline.articles.first, :article_image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
							<div class="timeline-thumbnail-text">
								<div class="timeline-thumbnail-text_js">
									<h3><%= timeline.title.truncate(20) %></h3>
									<span><%= timeline.created_at.strftime('%Y.%m.%d') %></span>
								</div>
							</div>
							<!-- テスト用Clipボタン -->
								<%= render 'timelines/clip_test', timeline: timeline %>
							<!-- テスト用Clipボタンここまで -->
							<p class="timeline_title_box">
								<span class="label label-info">New</span>
								<span><%= timeline.title.truncate(20) %></span>
							</p>
							<% if user_signed_in? %>
								<% if (timeline.user_id == current_user.id) %>
									<%= link_to "削除", timeline_path(timeline.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-xs" %>
								<% end %>
							<% end %>
						</div>
					<% end %>
				<% end %>
			<% end %>