<div class="timelines_index_header">
	<h1 class="text-center">みんなの旅</h1>
</div>

<% if user_signed_in? %>
	 <div class="clips-wrapper">
			<%= link_to "全ての投稿", timelines_path, class: "clips-nav" %>
			<%= link_to "あなたの投稿", timelines_user_path, class: "clips-nav" %>
			<%= link_to "他の人の投稿", timelines_other_path, class: "clips-nav" %>
	</div>
<% end %>

	<div class="container">
			<% @timelines.each do |timeline| %>
				<%= link_to timeline_path(timeline.id) do %>
					<div class="timeline-thumbnail">
						<%= attachment_image_tag timeline.articles.first, :article_image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
						<div class="timeline-thumbnail-text">
							<div class="timeline-thumbnail-text_js">
								<h3><%= timeline.title.truncate(20) %></h3>
								<span><%= timeline.created_at.strftime('%Y.%m.%d') %></span>
							</div>
						</div>
						<!-- Clipボタン -->
						<%if user_signed_in? %>
							<% if timeline.cliped_by?(current_user) %>
								<%= link_to clip_path(timeline.id), method: :delete do %>
									<span class="glyphicon glyphicon-paperclip clip-btn clipped" aria-hidden="true"></span>
								<% end %>
							<% else %>
								<%= link_to clip_path(timeline.id), method: :post do %>
									<span class="glyphicon glyphicon-paperclip clip-btn" aria-hidden="true"></span>
								<% end %>
							<% end %>
						<% end %>
						<p>
							<span class="label label-info">New</span>
							<span><%= timeline.title.truncate(20) %></span>
						</p>
						<% if user_signed_in? %>
							<% if (timeline.user_id == current_user.id) %>
								<%= link_to "削除", timeline_path(timeline.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-xs" %>
							<% end %>
						<% end %>
					</div>
				<% end %>
			<% end %>
		<%= paginate @timelines %>
	</div>