<div class="timelines_index_header">
	<span class="text-center">みんなの旅</span>
</div>

<% if user_signed_in? %>
	 <div class="clips-wrapper">
			<%= link_to "全ての投稿", timelines_path, class: "clips-nav" %>
			<%= link_to "あなたの投稿", timelines_user_path(current_user.id), class: "clips-nav" %>
			<%= link_to "他の人の投稿", timelines_other_path, class: "clips-nav" %>
	</div>
<% end %>

	<div class="container">
		<!-- @s_times:検索結果を出力 => application_controller -->
			<% @s_times.each do |timeline| %>
				<% if timeline.post_flag != 0 %>
					<%= link_to timeline_path(timeline.id) do %>
						<div class="timeline-thumbnail">
							<%= attachment_image_tag timeline.articles.first, :article_image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
							<div class="timeline-thumbnail-text">
								<div class="timeline-thumbnail-text_js">
									<h3><%= timeline.title.truncate(20) %></h3>
									<span><%= timeline.created_at.strftime('%Y.%m.%d') %></span>
								</div>
							</div>
							<!-- Clipボタン -->
								<%= render 'timelines/clip', timeline: timeline %>
							<!-- Clipボタンここまで -->
							<!-- new ラベル -->
							<% if @time_now < timeline.articles.last.created_at.tomorrow %>
								<span class="label label-info timeline-label">New</span>
							<% end %>
							<!-- new ラベルここまで -->
							<!-- 削除ボタン -->
								<div class="timeline_title_box">
									<span><%= timeline.title.truncate(16) %></span>
									<div class="timeline_visibility">
										<% if user_signed_in? %>
											<% if (timeline.user_id == current_user.id) %>
												<%= link_to "削除", timeline_path(timeline.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-xs" %>
											<% else %>
												<span class="btn btn-xs opasity: 1"></span>
											<% end %>
										<% end %>
									</div>
								</div>
							<!-- 削除ボタンここまで -->
						</div>
					<% end %>
				<% end %>
			<% end %>
		<%= paginate @timelines %>
	</div>