<div class="timelines_index_header">
	<h1 class="text-center">みんなの旅</h1>
</div>
 <div class="clips-wrapper">
		<%= link_to "全ての投稿", timelines_path, class: "clips-nav" %>
		<%= link_to "あなたの投稿", timelines_user_path(current_user.id), class: "clips-nav" %>
		<%= link_to "他の人の投稿", timelines_other_path, class: "clips-nav" %>
</div>

	<div class="container">
		<%= render 'timelines/index_test', timelines: @timelines, collection: @timelines, as: :timeline %>
		<%= paginate @timelines %>
	</div>