<div class="timelines_index_header">
	<span class="text-center">みんなの旅</span>
</div>
 <div class="clips-wrapper">
		<%= link_to "全ての投稿", timelines_path, class: "clips-nav" %>
		<%= link_to "あなたの投稿", timelines_user_path(current_user.id), class: "clips-nav" %>
		<%= link_to "他の人の投稿", timelines_other_path, class: "clips-nav" %>
</div>

	<div class="container">
			<% @timelines.each do |timeline| %>
				<% if timeline.post_flag != 0 %>
					<%= link_to timeline_path(timeline.id) do %>
						<div class="timeline-thumbnail">
							<%= attachment_image_tag timeline.articles.first, :article_image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
							<div class="timeline-thumbnail-text">
								<div class="timeline-thumbnail-text_js">
									<h3><%= timeline.title.truncate(20) %></h3>
									<span><%= timeline.created_at.strftime('%Y.%m.%d') %></span>
								</div>
							</div>
							<!-- Clipボタン -->
								<%= render 'timelines/clip', timeline: timeline %>
							<!-- Clipボタンここまで -->
						<!-- new ラベル -->
						<% if timeline.articles.count >= 1 %>
							<% if @time_now <= timeline.articles.last.created_at.tomorrow %>
								<span class="label label-info timeline-label">New</span>
							<% end %>
						<% end %>
						<!-- new ラベルここまで -->
							<p class="timeline_title_box">
								<span><%= timeline.title.truncate(16) %></span>
							</p>
							<% if user_signed_in? %>
								<% if current_user.admin_flg == true || timeline.user_id == current_user.id %>
									<%= link_to "削除", timeline_path(timeline.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-xs" %>
								<% end %>
							<% end %>
						</div>
					<% end %>
				<% end %>
			<% end %>
		<%= paginate @timelines %>
	</div>