<div class="timelines-wrapper">
		<%= link_to "クリップ数", lanking_clip_path, class: "timelines-nav" %>
		<%= link_to "投稿数", lanking_article_path, class: "timelines-nav" %>
</div>

<h2 class="text-center">Lanking</h2>

<div class="container">
	<div class="row">
		<!-- １位 -->
		<div class="col-sm-4">
			<div class="lank">
					<%= attachment_image_tag @product, :image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
					<p>
						<span class="glyphicon glyphicon-tower lank-btn lank_1" aria-hidden="true"></span>
						<span>title</span>
						<span class="glyphicon glyphicon-paperclip clip-btn" aria-hidden="true"></span>
					</p>
			</div>
		</div>
		<!-- ２位 -->
		<div class="col-sm-4">
			<div class="lank">
					<%= attachment_image_tag @product, :image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
					<p>
						<span class="glyphicon glyphicon-tower lank-btn lank_2" aria-hidden="true"></span>
						<span>title</span>
						<span class="glyphicon glyphicon-paperclip clip-btn" aria-hidden="true"></span>
					</p>
			</div>
		</div>
		<!-- ３位 -->
		<div class="col-sm-4">
			<div class="lank">
					<%= attachment_image_tag @product, :image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
					<p>
						<span class="glyphicon glyphicon-tower lank-btn lank_3" aria-hidden="true"></span>
						<span>title</span>
						<span class="glyphicon glyphicon-paperclip clip-btn" aria-hidden="true"></span>
					</p>
			</div>
		</div>
	</div>

		<div class="timeline-thumbnail-wrapper">
			<div class="timeline-thumbnail">
				<%= attachment_image_tag @product, :image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
				<div class="timeline-thumbnail-text">
					<div class="timeline-thumbnail-text_js">
						<h3>title文字列最初の10文字..</h3>
						<span>xxxx.xx.xx</span>
					</div>
				</div>
				<span class="glyphicon glyphicon-paperclip clip-btn" aria-hidden="true"></span>
				<p>
					<span>title</span>
				</p>
			</div>

		<!-- % @timelines.each do |timeline| %> -->
			<!-- TODO:@user, :profile_image, に変更 -->
			<div class="timeline-thumbnail">
				<%= attachment_image_tag @product, :image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
				<div class="timeline-thumbnail-text">
					<div class="timeline-thumbnail-text_js">
						<h3>title文字列最初の10文字..</h3>
						<span>xxxx.xx.xx</span>
					</div>
				</div>
				<span class="glyphicon glyphicon-paperclip clip-btn" aria-hidden="true"></span>
				<p>
					<span>title</span>
				</p>
			</div>
		<!-- % end %> -->
	</div>
</div>