<div class="timeline_show_nav"><!-- TODO:css共通 user-index-title -->
	<!-- ログイン中のユーザーだけ編集完了ボタンを押せる -->
	<!-- % if timeline.user_id == current_user.id %> -->
		<%= link_to "新しい記事を投稿する", new_article_path, class: 'btn btn-info' %>
		<%= link_to "タイムラインを投稿する", timeline_post_path(@timeline.id), method: :patch, class: 'btn btn-info' %>
	<!-- % end %> -->
</div>

<!-- <div class="timeline_show_content_wrapper">
	<div class=""></div>
</div> -->
<div class="timeline_show_content_wrapper">
				<!-- TODO: ここからArticle繰り返し -->
				<!-- Article表示部分 -->
				<% @articles.each do |article| %>
	<!-- TODO: ここから日毎に繰り返し -->
	<!-- Articleにモデルを追加？　年月日のみを取得する？うーん、created_atのデータだけで「日が違う」を判断したいところ -->
	<div class="timeline_show_day">
		<!-- <span> %= article.created_at.strftime('%Y.%m.%d (%A)') %></span> -->
	</div>
		<div class="timeline_column_wrapper">
					<div class="timeline_show_content">
						<!-- 左カラム -->
						<div class="timeline_left_column">
							<div class="timeline_left_column_t">
								<table>
									<tr>
										<!-- TODO:article_iconに変更 -->
										<td><span class="glyphicon glyphicon-globe lank-btn" aria-hidden="true"></span></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<th> <%= article.created_at.strftime('%c') %></th>
										<!-- TODO:日毎に繰り返し表示するとき、時間のみ表示 -->
										<!-- <th> %= article.created_at.strftime('%Y.%m.%d (%c) %H:%m') %></th> -->
									</tr>
									<tr>
										<td></td>
										<td><%= article.caption %></td>
									</tr>
									<tr>
										<td></td>
										<td><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><%= article.place.place_name %></td>
									</tr>
									<tr>
										<td></td>
										<td>tweetする</td>
									</tr>
								</table>
							</div>
						</div>
							<!-- Articleコンテンツ -->
							<div class="timeline-show-article-wrapper">
								<%= attachment_image_tag article, :article_image, :fill, 400, 300, format: 'jpeg', fallback: "no_image.jpg" %>
								<p>
									<%= article.body %>
								</p>
								<p>
									<% if article.star == 1 %>
										<span class="star">★☆☆☆☆</span>
									<% elsif article.star == 2 %>
										<span class="star">★★☆☆☆</span>
									<% elsif article.star == 3 %>
										<span class="star">★★★☆☆</span>
									<% elsif article.star == 4 %>
										<span class="star">★★★★☆</span>
									<% elsif article.star == 5 %>
										<span class="star">★★★★★</span>
									<% else %>
									<% end %>
									<div class="timeline-show-btn">
										<% if (@timeline.user_id == current_user.id) %>
											<!-- Article編集、削除 -->
												<%= link_to "編集", edit_article_path(article.id), class: "btn btn-warning btn-xs" %>
												<%= link_to "削除", article_path(article.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger btn-xs" %>
										<% end %>
									</div>
								</p>
							</div>
							<!-- TODO: Article繰り返し　ここまで -->
					</div>
				<% end %>
			</div>

	<!-- TODO: 日毎に繰り返し　ここまで -->
</div>

<!-- 右カラム --><!-- 
<div class="timeline-right-column">
	<span>linklink</span>
</div> -->
