<div class="ranking-wrapper">
		<%= link_to "クリップ数", ranking_clip_path, class: "timelines-nav" %>
		<%= link_to "投稿数", ranking_article_path, class: "timelines-nav" %>
</div>

<h2 class="text-center">投稿記事数ランキング</h2>

<div class="container">
	<div class="row">

		<% @all_ranks.each.with_index(1) do |timeline, i| %>
			<table class="table">
				<tr>
					<td colspan="2">
						<!-- 1,2,3位にはアイコンを表示 -->
						<% if i == 1 %>
							<span class="glyphicon glyphicon-tower rank-btn rank_1" aria-hidden="true"></span>
						<% elsif i == 2 %>
							<span class="glyphicon glyphicon-tower rank-btn rank_2" aria-hidden="true"></span>
						<% elsif i == 3 %>
							<span class="glyphicon glyphicon-tower rank-btn rank_3" aria-hidden="true"></span>
						<% end %>
						第<%= i %>位
					</td>
				</tr>
				<tr>
					<td rowspan="2" class="rank_image">
						<%= link_to timeline_path(timeline.id) do %>
							<div class="timeline-thumbnail">
								<%= attachment_image_tag timeline.articles.first, :article_image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
								<div class="timeline-thumbnail-text">
									<div class="timeline-thumbnail-text_js">
										<h3><%= timeline.title.truncate(20) %></h3>
										<span><%= timeline.created_at.strftime('%Y.%m.%d') %></span>
									</div>
								</div>
								<!-- Clipボタン -->
								<!-- TODO: 非同期でクリップさせる -->
								<% if user_signed_in? %>
									<%if timeline.cliped_by?(current_user) %>
										<%= link_to clip_path(timeline.id), method: :delete do %>
											<span class="glyphicon glyphicon-paperclip clip-btn clipped" aria-hidden="true"></span>
										<% end %>
									<% else %>
										<%= link_to clip_path(timeline.id), method: :post do %>
											<span class="glyphicon glyphicon-paperclip clip-btn" aria-hidden="true"></span>
										<% end %>
									<% end %>
								<% end %>
								<p>
									<span><%= timeline.title.truncate(20) %></span>
								</p>
								<td style="text-align: left;">
									<% timeline.articles.first(10).each do |article| %>
										<%= attachment_image_tag article, :article_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", :size =>'50x50' %>
									<% end %>
									<p>（記事数：<%= timeline.articles.size %>）</p>
								</td>
							</div>
						<% end %>
					</td>
				</tr>
				<tr><td><%= timeline.articles.first.body.truncate(80) %></td></tr>
				</tr>
			</table>
		<% end %>

	</div>
</div>