<div class="ranking-wrapper">
		<%= link_to "クリップ数", ranking_clip_path, class: "timelines-nav" %>
		<%= link_to "投稿数", ranking_article_path, class: "timelines-nav" %>
</div>

<h2 class="text-center">投稿記事数ランキング</h2>

<!-- ランキングここから -->
<div class="rank_index_content">
	<% @all_ranks.each.with_index(1) do |timeline, i| %>
		<div class="rank_index_infobox_wrapper">
			<div class="rank_index_infobox_title">
		<!-- 1,2,3位にはアイコンを表示 -->
            <% if i == 1 %>
              <span class="glyphicon glyphicon-tower rank-btn rank_1" aria-hidden="true"></span>
            <% elsif i == 2 %>
              <span class="glyphicon glyphicon-tower rank-btn rank_2" aria-hidden="true"></span>
            <% elsif i == 3 %>
              <span class="glyphicon glyphicon-tower rank-btn rank_3" aria-hidden="true"></span>
            <% end %>
            <h3>第<%= i %>位</h3>
                <span>（記事数：<%= timeline.articles.size %>）</span>
			</div>
			<div class="rank_index_infobox">
				<div class="rank_index_user_image">
					<%= link_to timeline_path(timeline.id) do %>
              <div class="timeline-thumbnail">
                <%= attachment_image_tag timeline.articles.first, :article_image, :fill, 200, 160, format: 'jpeg', fallback: "no_image.jpg", :size =>'200x160' %>
                <div class="timeline-thumbnail-text">
                  <div class="timeline-thumbnail-text_js">
                    <h3><%= timeline.title.truncate(20) %></h3>
                    <span><%= timeline.created_at.strftime('%Y.%m.%d') %></span>
                  </div>
                </div>
              <!-- Clipボタン -->
                <%= render 'timelines/clip', timeline: timeline %>
              <!-- Clipボタンここまで -->
           <% end %>
              </div>
				</div>
        <div class="rank_index_user_body">
          <h4><%= timeline.title.truncate(20) %></h4>
          <p><% if timeline.articles.first != nil %><%= timeline.articles.first.body.truncate(80) %><% end %></p>
        </div>

			</div>
				<div class="rank_index_user_infobox">
					<% timeline.articles.first(10).each do |article| %>
            <%= attachment_image_tag article, :article_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", :size =>'50x50' %>
          <% end %>
          <% if timeline.articles.count >= 10 %>
          	<span>...</span>
          <% end %>
				</div>
		</div>
	<% end %>
</div>
<!-- ランキングここまで -->